<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>934129831861-q06ch4uoa8cgu1u2sto2963eh45efphh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934129831861-q06ch4uoa8cgu1u2sto2963eh45efphh</string>
	<key>API_KEY</key>
	<string>AIzaSyAZ3pBZ3VCZ2uRbolteAAwcuKvIY5bU0l8</string>
	<key>GCM_SENDER_ID</key>
	<string>934129831861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>codewithnaveen.Firestore-Demo</string>
	<key>PROJECT_ID</key>
	<string>firestore-ffe86</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-ffe86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934129831861:ios:0f4ca3f93a33ab26ce13fc</string>
</dict>
</plist>